
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #535b60;
  color: #CFCFCF;
}

.events-list {
  width: 100%;
  font-size: 0.9em;
}
.events-list tr td {
  padding: 5px 20px 5px 0;
}
.events-list tr td:last-child {
  padding: 5px 0;
  text-align: right;
}

.events-list tr:hover .event-color {
  border-left: 5px solid #4f8db3;
}

.events-list .event-color {
  margin: 3px 0;
  padding: 2px 10px;
  border-left: 5px solid #CFCFCF;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

.events-list .event-color .event-number {
  color: #CFCFCF;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


.btn-grey {
  border: 1px solid #cecece;
  color: #333;
  background: none repeat scroll 0 0 #E7E7E7;
}

.list-service__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  /*outline: 1px solid red;*/
  margin-bottom: 5px;
}

.list-service__sub-row
{
  border-left: 3px solid white;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: all 1s ease-in;
  padding-left: 30px;
  padding-right: 30px;
  color: #CFCFCF;
  font-size: 1.1em;
  text-decoration: none;
}

.list-service__sub-row:hover {
  background: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #0d6efd;
  transition: all 0.5s ease-in-out;
  color: #CFCFCF;
  text-decoration: none;
}

.event-more {
  margin-left: 50px;
}

.font-size-20 {
  font-size: 20px;
}

.repair-request-heading {
  color: #CFCFCF;
}

.repair-request-row {
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-left: 3px solid white;
  transition: all 1s ease-in;
  padding-left: 30px;
  padding-right: 30px;
  color: #CFCFCF;
  font-size: 1.1em;
  text-decoration: none;

}

.repair-request-row-data:hover {
  background: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #0d6efd;
  transition: all 0.5s ease-in-out;
  color: #CFCFCF;
}

.repair-request-row-data {
  margin-top: 10px;
}

.repair-request-row-header {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.3);
  border-width: 0;
}

.repair-request-accepted-bg {
  height: 50px;
  width: 50px;
  background-image: url('../images/icons/check-and-cross-mark-symbol.webp');
  background-size: 200%;
}

.is-accepted {
  background-position-x: 100%;
}